<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <!-- Ganti method form get menjadi post -->
  <form action="/user/get-form-handler" method="post">
    
    <label for="label-nama">Input Nama</label>
    <input type="text" id="label-nama" name="label-nama">

    <label for="label-password">Input Password</label>
    <input type="text" id="label-password" name="label-password">

    <button type="submit">Login</button>
  </form>
  
</body>
</html>